    <!-- Footer -->
    <footer class="">
	<div class="container">	    
	    <div class="col-md-4">
		<h3>About Me</h3>
		<p>My Name is Sandeep Parwal. I am an IT geek and proud Indian. Passionate about playing with Code and writing programs with so-called Indian "jugaad theory", and 'logic' (to be more urban) <i class="fa fa-smile-o"></i></p>
	    </div>
	    <div class="col-md-3">
		<h3>Location</h3>
		<p>575, B/9, New Model Town<br>Hoshiarpur - Punjab, IN 146001</p>
	    </div>
	    <div class="col-md-5">
		<h3>Follow Me On</h3>
		<ul class="list-inline social">
		    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
		    <li><a href="https://twitter.com/skparwal" target="_blank"><i class="fa fa-twitter"></i></a></li>
		    <li><a href="http://in.linkedin.com/in/sandeepparwal" target="_blank"><i class="fa fa-linkedin"></i></a></li>
		    <li><a href="https://plus.google.com/115830037199243576257/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
		    <li><a href="https://pintrest.com/sandeepparwal" target="_blank"><i class="fa fa-pinterest"></i></a></li>
		    <li><a href="https://github.com/skparwal" target="_blank"><i class="fa fa-github"></i></a></li>
		</ul>
	    </div>
	</div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>
